.column{
    width: 27vw;
    height: auto;
    flex-shrink: 0;
    border-radius: 20px;
    border-top: 0px;
    background: #0E0D0D;
    min-height: 50vh;
    display: block;
}

@layer higher {
    #to-do-column{
        border: solid 1px #38FF40;
    }
    
    #in-progress-column{
        border: solid 1px #FFD233;
    }
    
    #done-column{
        border: solid 1px #bd67ff;
    }
}

.drag-over{
    border-radius: 25px;
    border: 3px solid #5763ff;
    z-index: 10;
}

.column-header-drag-over{
    border-top: 2px solid #5763ff;
    border-right: 2px solid #5763ff;
    border-left: 2px solid #5763ff;
}

