.blurry-rectangle{
    height: auto;
    width: 100%;
    backdrop-filter: blur(15px);
    z-index: 5;
    position: fixed;
    top: 0%;
    bottom: 0%;
}

#additional-elements-holder{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}