
main{
    display: block;
    justify-content: center;
    width: 100vw;
    height: auto;
    min-height: 77.88vh;
}

.main-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
#column-container{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 20px;
}