.button{
    border-radius: 20px;
    height: 100%;
    padding: 0;
    font-family: Inter;
    font-size: medium;
}

.filter-form-button{
    width: 17%;
    height: 35px;
    flex-shrink: 0;
    padding: 0;
    border-radius: 10px;
    border: 2px solid #565656;
    background: #0E0D0D;
    font-weight: 500;
}

.filter-form-button{
    border: 2px solid #7c5cf1;
    color: #7c5cf1;
    font-weight: 500;
}

.cancel-button{
    width: 90%;
    height: 50%;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: rgba(255, 255, 255, 0);
}

.cancel-button:hover{
    background: rgba(234, 240, 233, 0.336);
}

.update-button-card{
    width: 30%;
    height: 100%;
    border: 2px solid #09ecec;
    background: #01163500;
    color: #09ecec;
}

.update-button-card:hover{
    border: 2px solid #09ecec;
    background: #62c6ee52;
}

.delete-button-card{
    width: 30%;
    height: 100%;
    border: 2px solid #ff3a3a;
    background: #01163500;
    color: #ff3a3a;
}

.delete-button-card:hover{
    border: 2px solid #ff3a3a;
    background: #ee626252;
}

.cancel-button-card{
    width: 30%;
    height: 100%;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: rgba(255, 255, 255, 0);
}

.cancel-button-card:hover{
    background: rgba(234, 240, 233, 0.336);
}

.update-task-form-button{
    width: 90%;
    height: 60%;
    border: 2px solid #09ecec;
    background: #01163500;
    color: #09ecec;
    margin-left: -10%;
}

.update-task-form-button:hover{
    background: #62c6ee52;
}

.create-task-form-button{
    width: 90%;
    height: 60%;
    color: #38FF58;
    border: 2px solid #38FF58;
    background: rgba(255, 255, 255, 0);
    margin-left: -10%;
}

.create-task-form-button:hover{
    background: rgba(59, 255, 42, 0.30);
}

.cancel-button-form{
    width: 90%;
    height: 60%;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: rgba(255, 255, 255, 0);
    margin-left: -10%;
}

.cancel-button-form:hover{
    background: rgba(234, 240, 233, 0.336);
}

.add-task-button{
    width: 90%;
    height: 35px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #626262;
    background: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #A4A0A0;
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.add-task-button:hover{
    border: 2px solid #7c5cf1;
    color: #7c5cf1;
    font-weight: 900;
}

.confirm-delete-task-button{
    width: 90%;
    height: 45%;
    border-radius: 20px;
    border: 2px solid #FF3838;
    background-color: rgba(255, 255, 255, 0);
    color: #FF3838;
}

.confirm-delete-task-button:hover{
    background: rgba(255, 47, 47, 0.26);
}

.cancel-delete-task-button{
    width: 90%;
    height: 45%;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
}

.cancel-delete-task-button:hover{
    background: rgba(255, 255, 255, 0.24);
}
